body {
    /* background-color: teal; */
    overflow: hidden;
    background-repeat: no-repeat;
}

#backgroundMusic {
    border: 2px solid rgba(43, 39, 42, 0.2);
}

html {
    background: url(images/Final-Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(64, 7, 85, 0.8);
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.grid div {
    position: relative;
    border: 2px solid rgba(43, 39, 42, 0.2);
    background-color: rgba(151, 153, 163, 0.288);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.ims {
    background-repeat: no-repeat;
    position: absolute;
    height: 80px;
    width: 80px;
}

.gameArea {
    width: 720px;
    height: 720px;
    background: rgba(0, 6, 36, 0.5);
    border-radius: 10px;
    border-width: 8px;
    padding: 8px;
    position: absolute;
    left: 30%;
    z-index: 1;
}