body {
    /* background-color: teal; */
    overflow: hidden;
    background-repeat: no-repeat;
}

#backgroundMusic {
    border: 2px solid rgba(43, 39, 42, 0.8);
}

html {
    background: url(images/n7Mtdb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(64, 7, 85, 0.5);
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.grid div {
    position: relative;
    border: 2px solid rgba(24, 2, 18, 0.8);
    background-color: rgba(111, 76, 116, 0.5);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.ims {
    background-repeat: no-repeat;
    position: absolute;
    height: 80px;
    width: 80px;
}

.gameArea {
    width: 720px;
    height: 720px;
    background: rgba(0, 6, 36, 0.5);
    border-radius: 10px;
    border-width: 8px;
    padding: 8px;
    position: absolute;
    left: 30%;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(176, 10, 201, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#scoreboard,
#pointsLabel {
    max-width: 300px;
    background-color: rgba(61, 4, 68, 0.8);
    position: absolute;
    font-family: '60s Scoreboard', sans-serif;
    font-size: 50px;
    text-shadow: 5px 5px #f305eb;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(176, 10, 201, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: azure;
    word-wrap: break-word;
    margin: 20px;
    text-align: center;
    align-items: center;
}