body {
    background-color: teal;
    overflow: hidden;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px 70px;
}

.grid div {
    position: relative;
    border: 1px solid rgba(184, 177, 177, 0.2);
    text-align: center;
    background-repeat: no-repeat;
}

.ims {
    background-repeat: no-repeat;
    position: absolute;
    height: 70px;
    width: 70px;
}

.gameArea {
    width: 630px;
    height: 630px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-width: 8px;
    padding: 20px;
    position: absolute;
    left: 30%;
}